@*  Copyright 2018 Battelle Energy Alliance, LLC
    ALL RIGHTS RESERVED*@
<!doctype html>

<html lang="en">
<head>
    <meta charset="utf-8">

    <title>Fake ADFS</title>
</head>

<body>
    Fake ADFS STS
</body>
</html>