@*  Copyright 2018 Battelle Energy Alliance, LLC
    ALL RIGHTS RESERVED*@
<!doctype html>

<html lang="en">
<head>
    <meta charset="utf-8">

    <title>Fake ADFS</title>
</head>

<body>
    <a href="/FederationMetadata/2007-06/FederationMetadata.xml">Federation Metadata</a>
</body>
</html>